h2{
  background-color: #a79dcd;
  margin-left:auto;
  margin-right:auto;
  width:200px;
  text-align:center;
}

h4{
  text-align:center;
}

#list{
  background-color: #d9d5e6;
  text-align:center;
  padding: 7px;
  margin-bottom:10px;
}
